# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# Database (SQLite 등 생길 수 있는 파일 대비)
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local notes
memo.txt
